.container {
	width: 710px; /* tamanho do container */
}

body {
	background: #cff; /* cor do fundo da tela */
}

header {
	padding-top: 20px; /* espaçamento entre a borda e o texto */
}

header img {
	padding: 1em; /* espaçamento da imagem com a borda */
	background: #fff; /* cor do fundo da imagem */
}

section {
	margin-top: 1em; /* tamanho da margem */
	font-size: 120%; /* tamanho da fonte */
	padding: 20px; /* espaçamento entre o texto e a borda */
	background: #fff; /* cor de fundo da seção */
}

section h1 {
	font-size: 200%; /* tamanho do texto em h1 */
}

/* Links */

a {
	color: #09c; /* cor do texto dos links */
	text-decoration: none;
}

a:hover {
	color: #069; /* cor do link quando mouse sobre */
	text-decoration: underline; /* coloca um sublinhado no link quando mouse sobre */
}

a:visited {
	color: #069; /* cor do link quando visitado */
}

/* Navigation */

nav {
	float: right;
}

nav {
	background-color: white;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

/* Sign up button */

a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}

/* Round corners */

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Footer */

footer {
	text-align: center;
	margin-top: 10px;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	float:none;
}